.idea
# Папки Flutter/Dart
.dart_tool/
.packages
.pub/
/build/

# Временные файлы
.DS_Store
*.temp
*.lock
*.log

# Папка Android
/build/
.gradle/

# Папка iOS
/Pods/
/ios/Pods/
*.mode1v3
*.mode2v3
*.pbxuser
*.xcworkspace/
*.xcuserdatad/
*.xcproj/
*.xcodeproj/
*.xccheckout
*.xcscmblueprint

# Исключение apk файлов
*.apk
